@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-face {
  animation-name: face-animation;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-timing-function: step-end;
}

@keyframes face-animation {
  0% {
    clip: rect(500px 163px 655px 0);
    top: -500px;
    left: -1px;
  }

  25% {
    clip: rect(500px 326px 655px 163px);
    top: -500px;
    left: -163px;
  }

  50% {
    clip: rect(500px 489px 655px 326px);
    top: -500px;
    left: -326px;
  }

  75% {
    clip: rect(500px 652px 655px 489px);
    top: -500px;
    left: -489px;
  }
}
